@font-face {
    font-family: HackRegular;
    src: url("../../assets/Hack-Regular.ttf") format("truetype");
}

@font-face {
    font-family: HackBold;
    src: url("../../assets/Hack-Bold.ttf") format("truetype");
}

@font-face {
    font-family: TTLight;
    src: url("../../assets/TTLight.otf") format("opentype");
  }

@font-face {
  font-family: TTRegular;
  src: url("../../assets/TTRegular.otf") format("opentype");
}

@font-face {
    font-family: TTBold;
    src: url("../../assets/TTBold.otf") format("opentype");
  }


  /*DESKTOP*/
  @media screen and (min-width:1000px) {
    .gallery{
        margin: 0px;
        padding: 20px;
        min-width: fit-content;
        overflow-y: none;
        min-height: 100vh;
        height: fit-content;
    
        background-color: lightgray;
    
        color: black;
    
        font-family: 'Courier New', Courier, monospace;
    
        display: flex;
        flex-direction: column;
    }
    
    .gallery-hero{
        display: flex;
        margin-bottom: 40px;
        
    }
    
    .gallery-hero-cntr{
        display: flex;
        flex-direction: column;
        }
        
    .gallery-hero-header{
        font-size: 1.6rem;
        font-style: italic;
        font-family: HackBold;
    }
        
    .gallery-hero-p{
        font-size: 1.3rem;
        font-family: TTLight;
    }
    
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .card{
        width: 350px;
        height: 650px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        margin: 20px 40px 0px 0px ;
        padding: 20px;
    
        border: solid 1px black;
        
        position: relative;
        left:0px;
        transition: left ease-in-out 0.2s;
    }
    
    .card:hover{
        left:10px;
    }
    
    .card-img{
        margin: 0px 0px 20px 0px ;
    
        width: 300px;
        height: auto;
    }
    
    .card-title{
        font-family: HackBold;
        margin: 0px 0px 20px 0px ;
        font-size: 1.1rem;
    }
    
    .card-desc{
        font-family: TTRegular;
        font-size: 1.1rem;
        margin: 0px 0px 20px 0px ;
    }
    
    .card-refs{
        display: flex;
        flex-wrap: wrap;
        margin: 0px 0px 20px 0px;
    }
    
    .card-ref{
        font-size: 1rem;
        font-family: TTLight;
        margin: 0px 8px 0px 0px ;
        transition: font-family ease-in-out 0.2s;
    }
    
    .card-ref:hover{
        font-family: TTRegular;
        cursor:default;
    }
    
    .card-link-cntr{
        font-family: TTBold;
        font-size: 1rem;
    }
    
    .card-link-a{
        position :relative;
        text-decoration: none;
        margin: 20px 0px 0px 0px ;
        left:0;
        transition: color ease-in-out 0.2s;
    }
    
    .card-link-a:hover{
        font-family: TTBold;
        color: #2A9E00;
    }
    
    .card-link-i{
        position: relative;
        top:1px;
        margin-left: 4px;
        width: 11px;
    }
    
  }







  /*MOBILE*/
  @media screen and (max-width:1000px) {
    .gallery{
        width: 100vw;
        height: 100vh;
        height: fit-content;
    
        background-color: lightgray;
    
        color: black;
    
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    .gallery-hero{

        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .gallery-hero-cntr{
        display: flex;
        flex-direction: column;
        }
        
    .gallery-hero-header{
        font-size: 1.3rem;
        font-style: italic;
        font-family: HackBold;
    }
        
    .gallery-hero-p{
        font-size: 1.1rem;
        font-family: TTLight;
    }
    
    .cards{
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .card{
        width: 100%;
        height: fit-content;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    
        margin: 0px 0px 40px 0px ;
        padding: 10px;
    
        border: solid 1px black;
        
        position: relative;
        left:0px;
        transition: left ease-in-out 0.2s;
    }

    .gallery-img-cntr{
        width: 100%;

        display: flex;
        justify-content: center;

        margin-bottom: 10px;
    }

    .card-img{    
        width: 300px;
        height: auto;
    }

    .gallery-card-info{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .card-title{
        font-family: HackBold;
        margin: 0px 0px 20px 0px ;
        font-size: 1.1rem;
    }
    
    .card-desc{
        font-family: TTRegular;
        font-size: 1.1rem;
        margin: 0px 0px 20px 0px ;
    }
    
    .card-refs{
        display: flex;
        flex-wrap: wrap;
        margin: 0px 0px 20px 0px;
    }
    
    .card-ref{
        font-size: 1rem;
        font-family: TTLight;
        margin: 0px 8px 0px 0px ;
        transition: font-family ease-in-out 0.2s;
    }
    
  
    .card-link-cntr{
        font-family: TTBold;
        font-size: 1.2rem;
    }
    
    .card-link-a{
        position :relative;
        text-decoration: none;
        margin: 20px 0px 0px 0px ;
        left:0;
        transition: font-family ease-in-out 0.2s;
    }
        
    .card-link-i{
        position: relative;
        top:1px;
        margin-left: 4px;
        width: 11px;
    }
    
  }



