@font-face {
    font-family: HackRegular;
    src: url("../../assets/Hack-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: NeueRegular;
    src: url("../../assets/NeueHaasDisplayRoman.ttf") format("truetype");
  }
  
  @font-face {
    font-family: NeueMedium;
    src: url("../../assets/NeueHaasDisplayMediu.ttf") format("truetype");
  }

  @font-face {
    font-family: TTLight;
    src: url("../../assets/TTLight.otf") format("opentype");
  }

  @font-face {
    font-family: HackBold;
    src: url("../../assets/Hack-Bold.ttf") format("truetype");
}

@font-face {
    font-family: HackBoldItalic;
    src: url("../../assets/Hack-BoldItalic.ttf") format("truetype");
}



/*DESKTOP*/
@media screen and (min-width:1000px) {
    .home{
        height: 100vh;
    }
    
    .hero{
        position:absolute;
    
        top: 0;
        left: 0;
        display: flex;
    
        z-index: 1;
        color : black;
    
        width:330px;
    
        margin: 20px;
    }
    
    .hero-cntr{
        display: flex;
        flex-direction: column;
    }
    
    .hero-header{
        font-size: 1.6rem;
        font-family: HackBoldItalic;
        transition: color ease-in-out 0.2s;
    }

    .hero-header:hover{
        color:#2A9E00;
    }
    
    .hero-p{
        font-size: 1.3rem;
        /* font-family: 'Courier New', Courier, monospace; */
        font-family: TTLight;
    }
    
    .links{
        position:absolute;
    
        bottom: 0;
        left: 0;
    
        z-index: 1;
    
        font-family: 'Courier New', Courier, monospace;
        color : black;
        font-size: 1.1rem;
    
        width: fit-content;
        margin: 20px;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .links-cntr{
    
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .links-ul{
        padding-left: 0px;
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    
    .links-li{
        list-style: none;
        text-decoration: none;
        color:black;
    
        font-family: 'Courier New', Courier, monospace;
    
        transition: font-size ease-in-out 0.3s;
    
    }
    .links-li:hover{
        font-size: 1.2rem;
    }
    
}
















/*Mobile */
@media screen and (max-width:1000px) {
    .home{
        height: 100vh;
    }
    
    .hero{
        position:absolute;
    
        top: 0;
        left: 0;
        display: flex;
    
        z-index: 1;
    
        color : black;
    
        width:330px;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .hero-cntr{
        display: flex;
        flex-direction: column;
    }
    
    .hero-header{
        font-size: 1.4rem;
        font-family: HackBoldItalic;
    }
    
    .hero-p{
        font-size: 1.1rem;
        font-family: TTLight;
    }
    
    .links{
        position:fixed;
    
        bottom: 0;
        left: 0;
    
        z-index: 1;
    
        font-family: 'Courier New', Courier, monospace;
        color : black;
        font-size: 1rem;
    
        width: fit-content;
        margin-left: 10px;
        margin-bottom: 10px;
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .links-cntr{
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .links-ul{
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .links-ul .links-li:first-child{
        margin-bottom: 10px;
    }
    
    .links-li{
        list-style: none;
        text-decoration: none;
        color:black;
    
        font-family: 'Courier New', Courier, monospace;
    
        transition: font-size ease-in-out 0.3s;
    }
}

